<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/handlebars-v4.0.10.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="profile">My Profile</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id="display">
                    <!-- handlebars profile template -->
          <script id="profile-template" type="text/x-handlebars-template">
            <!-- {{#each profile}} -->
<!--               <h2>My Profile</h2>
              <ul>
                <li>Name: {{name}}</li>
                <li>Github: <a href="{{githubLink}}">Click me</a></li>
                <li>Name: {{name}}</li>
                <li>Name: {{name}}</li> -->
              </ul>
            <!-- {{/each}} -->
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
